<div class="container">
  <div class="box">
    <img src="http://mishalandsamuel.com/logo.png">
    <p>Hi <%= @guest[:name].join(', ').gsub(/, #{@guest[:name].last}$/, (@guest[:name].count > 2 ? "," : "") + " and #{@guest[:name].last}") %>,</p>
    <p>Thank you for your RSVP! We are very excited that you will be joining us on our wedding day. Here are the details of your RSVP:</p>
    <ul>
      <% @party.guests.order("id ASC").find_each do |guest| %>
        <li><strong><%= guest.name %></strong></li>
        <ul>
          <li><%= guest.response.gsub("_", " ").titleize %></li>
          <% if guest.attending? %>
            <li><%= guest.meal.name %></li>
            <% if guest.email.present? %>
              <li><a href="mailto:<%= guest.email %>"><%= guest.email %></a></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </ul>
    <p>The RSVP form will remain open until May 10, 2015, so feel free to update any information if changes arise. If you have any questions, don't hesitate to email us at <a href="mailto:mishalandsamuel@gmail.com">mishalandsamuel@gmail.com</a>. Please keep us in your thoughts and prayers.</p>
    <p class="closing">
      <span>Thanks,</span>
      <br>
      <span>Mishal and Samuel</span>
    </p>
    <hr>
    <div class="disclaimer">
      <p>This message was sent to you because you confirmed that you are able to attend the wedding. Don't worry, the only emails you'll receive from us are those involving table numbers and any urgent updates.</p>
      <p>If you ever want to stop receiving these emails, go to the <a href="http://mishalandsamuel.com/rsvp">RSVP page</a> and remove your email address.</p>
    </div>
  </div>
  <div class="verse">"...but the greatest of these is love." 1 Corinthians 13:13</div>
</div>
