<div class="container">
  <div class="box">
    <img src="http://mas.rmj.io/logo.png">
    <p>A party updated their RSVP status! Here's a summary of the party's current information:</p>
    <ul>
      <li><strong>ID:</strong> <%= @party.id %></li>
      <li><strong>Code:</strong> <%= @party.code %></li>
      <li><strong>Email:</strong> <%= @party.email.present? ? @party.email : "N/A" %></li>
      <li><strong>Guests:</strong></li>
      <ul>
        <% @party.guests.find_each do |guest| %>
          <li><strong><%= guest.name %></strong> - <%= guest.response.gsub("_", " ").titleize %><% if guest.attending? %> (<%= guest.meal.name %>)<% end %></li>
        <% end %>
      </ul>
    </ul>
    <p>If you want another copy of the consolidated CSV, just let me know!</p>
    <p class="closing">
      <span>Thanks,</span>
      <br>
      <span>Robin</span>
    </p>
  </div>
  <div class="footer">&copy; 2015 Mishal &amp; Samuel</div>
</div>