<div class="jumbotron" id="photos">
  <div class="inner">
    <h1>Photos</h1>
  </div>
</div>
<div class="container centered">
  <h1>Gallery</h1>
  <div class="gallery">
    <div class="item">
      <a href="<%= image_path "gallery/0.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/0.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/1.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/1.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/2.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/2.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/3.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/3.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/4.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/4.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/5.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/5.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/6.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/6.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/7.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/7.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/8.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/8.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/9.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/9.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/10.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/10.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/11.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/11.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
  </div>
  <p>Photos by <a href="http://www.georgestreetphoto.com" target="_blank">George Street Photo &amp; Video</a></p>
</div>