<div class="jumbotron" id="photos">
  <div class="inner">
    <h1>Photos</h1>
  </div>
</div>
<div class="container centered">
  <h1>Gallery</h1>
  <div class="gallery owl-carousel">
    <div><%= image_tag "gallery/0.jpg", :class => "landscape" %></div>
    <div><%= image_tag "gallery/1.jpg" %></div>
    <div><%= image_tag "gallery/2.jpg" %></div>
    <div><%= image_tag "gallery/3.jpg" %></div>
    <div><%= image_tag "gallery/4.jpg", :class => "landscape" %></div>
    <div><%= image_tag "gallery/5.jpg", :class => "landscape" %></div>
    <div><%= image_tag "gallery/6.jpg", :class => "landscape" %></div>
    <div><%= image_tag "gallery/7.jpg", :class => "landscape" %></div>
  </div>
</div>