<div class="jumbotron" id="photos">
  <div class="inner">
    <h1>Photos</h1>
  </div>
</div>
<div class="container centered">
  <h1>Gallery</h1>
  <div class="gallery">
    <div class="item">
      <a href="<%= image_path "gallery/0.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/0_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/1.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/1_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/2.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/2_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/3.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/3_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/4.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/4_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/5.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/5_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/6.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/6_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/7.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/7_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/8.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/8_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/9.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/9_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/10.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/10_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/11.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/11_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/12.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/12_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/13.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/13_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
    <div class="item">
      <a href="<%= image_path "gallery/14.jpg" %>" data-lightbox="gallery">
        <%= image_tag "gallery/14_t.jpg" %>
        <div class="overlay"><i class="fa fa-search-plus"></i></div>
      </a>
    </div>
  </div>
  <p>Photos by <a href="http://www.georgestreetphoto.com" target="_blank" {{action 'clickedLink' 'George Street Photo' target=controllers.application on="mouseUp"}}>George Street Photo &amp; Video</a></p>
</div>