<div class="jumbotron" id="who">
  <div class="inner">
    <h1>Who</h1>
  </div>
</div>
<div class="container centered">
  <div class="toggle-buttons">
    <button {{bind-attr class=":big showBridesmaids:active"}} {{action 'enableProperty' 'showBridesmaids'}}>Bridesmaids</button>
    <button {{bind-attr class=":big showBridesmaids::active"}} {{action 'disableProperty' 'showBridesmaids'}}>Groomsmen</button>
  </div>
  {{#if showBridesmaids}}
    <div class="section">
      <div class="image">
        <%= image_tag "who/sharon.jpg" %>
      </div><div class="info left">
        <h2>Sharon</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image left">
        <%= image_tag "who/abigail.jpg" %>
      </div><div class="info right">
        <h2>Abigail</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/abigail.jpg" %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image">
        <%= image_tag "who/rebecca.jpg" %>
      </div><div class="info left">
        <h2>Rebecca</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image left">
        <%= image_tag "who/elizabeth.jpg" %>
      </div><div class="info right">
        <h2>Elizabeth</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/elizabeth.jpg" %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image">
        <%= image_tag "who/amy.jpg" %>
      </div><div class="info left">
        <h2>Amy</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image left">
        <%= image_tag "who/megan.jpg" %>
      </div><div class="info right">
        <h2>Megan</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/megan.jpg" %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image">
        <%= image_tag "who/stacey.jpg" %>
      </div><div class="info left">
        <h2>Stacey</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
  {{else}}
    <div class="section">
      <div class="image left">
        <%= image_tag "who/sibi.jpg" %>
      </div><div class="info right">
        <h2>Sibi (Titu)</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/sibi.jpg" %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image">
        <%= image_tag "who/robin.jpg" %>
      </div><div class="info left">
        <h2>Robin</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image left">
        <%= image_tag "who/sanish.jpg" %>
      </div><div class="info right">
        <h2>Sanish</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/sanish.jpg" %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image">
        <%= image_tag "who/jevin.jpg" %>
      </div><div class="info left">
        <h2>Jevin</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image left">
        <%= image_tag "who/dennis-m.jpg" %>
      </div><div class="info right">
        <h2>Dennis M.</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/dennis-m.jpg" %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image">
        <%= image_tag "who/prince.jpg" %>
      </div><div class="info left">
        <h2>Prince</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="image left">
        <%= image_tag "who/dennis-r.jpg" %>
      </div><div class="info right">
        <h2>Dennis R.</h2>
        <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
      </div><div class="image right">
        <%= image_tag "who/dennis-r.jpg" %>
      </div>
    </div>
  {{/if}}
</div>